 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}
body{
    background-color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
header{
width: 100%; height: fit-content; background-color: white; display: flex; justify-content: space-between; align-items: center; }   
.a{
    display: inline-block;
    margin: 15px 30px;
}
ul{
    
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
    /* width: 100%; */
    height: 10vh;
    background-color: white;
}
li{
    position: relative;
    list-style: none;
    display: inline;
    background-color: white;
    
}
.search{
    position: relative;
    top: -11px;
    width: 560px;
    height: 35px;
    font-size: large;
    background-color: #3647f426;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.b, .c, .d, .e{
    background-color: white;   
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: large;
    position: relative;
    top: -11px;
    display: inline-block;
    margin: 15px 30px;
    color: black;
    text-align: center;
}
img{
    
    position: relative;
    top: 5px;
    
}
.b:hover{
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.e:hover{
    color: white;
    background-color: gray;
    border-radius: 5px;
}
.e{
    height: 30px;
    width: 30px;
    font-size: x-large;
}
.container{  
    position: relative;
    width: 100%;
    height: 185px;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    gap: 20px;
    background-color: white;
    border: 5px solid #f2f2f2;
    padding-top: 30px;
    
}
.box1{
    text-decoration: none;
    color: white;
    width: 70px;
    height: 70px;
   
    border: 2px solid rgba(255, 255, 255, 0);
    background-size: contain;
   
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.box2{
    width: 70px;
    height: 70px;
   
    border: 2px solid white;
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box3{
    width: 70px;
    height: 70px;
  
    border: 2px solid white;
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box4{
    width: 70px;
    height: 70px;
  
    border: 2px solid white;
    background-size: contain;


    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box5{
    width: 70px;
    height: 70px;
  
    border: 2px solid white;
    background-size: contain;


    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box6{
    width: 70px;
    height: 70px;

    border: 2px solid white;
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box7{
    width: 70px;
    height: 70px;
  
    border: 2px solid white;
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box8{
    width: 70px;
    height: 70px;
  
    border: 2px solid white;
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border: 2px solid white;
}
.box9{
    width: 70px;
    height: 70px;
   
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border: 2px solid white;
}
.box10{
    width: 70px;
    height: 70px;
  
    background-size: contain;

    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border: 2px solid white;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover{
    background-color: #f2f2f2;
    border: 2px solid transparent;
}
.caption{
    text-align: center;
    display: inline-block;
    color: black;
    text-decoration: none;
}
.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #f2f2f2;
   
    height: 180px;
    margin-top: 10px;
    background-color: white;
    background-size: cover;
}
.container1{
    border: 7px solid #f2f2f2;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;

    
    width: 100%;
    height: 335px;
    background-size: cover;
    margin-top: 10px;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 600;
    
    background-color: white;
    position: relative;
    top: 0px;
    width: 100%;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-decoration: none;
}
.a1, .a2, .a3, .a4, .a5{
    text-decoration: none;
    text-align: center;
    position: relative;
}   

.a3{
    position: relative;
    top: 6px;
    margin-top: 9px;
}
.xyz{
    text-align: center;
    border: 7px solid #f2f2f2;
    position: relative;
    top: 35px;
    font-size: 12px;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    top: 40px;
}

.a, .b, .c, .d, .e{
    text-decoration: none;
    color: black;
}
